.form {
  background-color: rgb(181, 199, 21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 500px;
  height: 600px;
  margin: 30px auto 0 auto;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
